


    $finalHeight: 250px;
    $finalWidth: 3 * $finalHeight;
    $scrollBarHeight: 1px;
    
    ::-webkit-scrollbar {
      width: $scrollBarHeight;
      height: $scrollBarHeight;
    }
    
    ::-webkit-scrollbar-button {
      width: $scrollBarHeight;
      height: $scrollBarHeight;
    }


.collection-preview {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    overflow: scroll;
    overflow-y: hidden;
   






  


   
 

  
    .title {
      font-size: 28px;
      margin-bottom: 25px;
      position: absolute;
      margin-left: 20px;
      cursor: pointer;
    }

   
  
    .preview {
      display: flex;
      justify-content: space-between;
      margin-top: 80px;
      
    }
  }
  