.collection-item {
    width: 70%;
    display: flex;
    // flex-direction: column;
    height: 300px;
    // align-items: center;
    position: relative;
    background-color: rgb(46, 43, 43);
    margin-left: 20px;
    box-shadow: 20px;
    border-radius: 15px 50px;
   
   
    .image {
      width: 29%;
      height: 93%;
      background-size: cover;
      background-position: center;
      margin: 10px 10px;
      border-radius: 15px 50px;
    }


    .detail{
      height: 15%;
      width: 40%;
      position: absolute;
      right: 2%;
      top: 37%;
      cursor: pointer;

      @media only screen and (max-width: 1200px) {
        height: 15%;
      width: 50%;
      right: 10%;
      top: 60%;
      }
    }



    .fav-button{
      width: 50px;
      
      
      position: absolute;
      top: 20px;
      left:4%;
      cursor: pointer;
      // display: none;
      &:hover{
        opacity: 0.7;
      }
      
    }
    &:hover{
    .image{
      opacity: 0.8;


      }
      .custom-button{
        opacity: 0.85;
        display: flex;
      }
    }


    .car-title{
      position: relative;
     
   
      

      .title{
        margin-left: 6%;
        border-bottom: 1px solid white;
      
       }
    }
    
  
    .collection-footer {
      
      margin-top: 80px;
      width: 20%;
      height: 5%;
      // margin-left: 30px;
      display: grid;
      grid-template-columns:1fr 1fr;
      gap: 50px;
      // justify-content: space-between;
      font-size: 18px;
      padding-right: 70px;

      @media only screen and (max-width: 600px) {
        gap: 20px;
        font-size: 13px;
      }
      @media only screen and (max-width: 1200px) {
        gap: 20px;
        font-size: 13px;
      }

  
      .name {
        width: 90%;
        margin-bottom: 15px;
      }
  
      .price {
        width: 10%;
      }
    }
  }
  