.cart-icon {
    width: 45px;
    height: 53px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  
    .shopping-icon {
      width: 54px;
      height: 54px;
    }

    .liked-icon{
      width: 82px;
    }
  
    .item-count {
      position: absolute;
      font-size: 10px;
      font-weight: bold;
      bottom: 12px;
    }
  }
  