.header {
    height: 70px;
    width: 98%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
     background-color: white;
    border-bottom: 1px solid rgb(37, 35, 35);
    box-shadow: 10px 10px 5px rgb(182, 178, 178);
   
  
    .logo-container {
      height: 100%;
      width: 70px;
      padding: 15px;

      .header-logo{
        width: 88px;
      }
    }

    
  
    .options {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end;
  
      .option {
        padding: 10px 25px;
      }
    }
  }
  